<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ES6 starter pack</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="hidden">
            <div class="success">
                Success !
                <div>
                    <button class="replayBtn">
                        Replay
                    </button>
                </div>
            </div>
        </div>
        <canvas id="stage">
        </canvas>
    </body>
    <script src="bundle.js"></script>
</html>